body {
    font-family: Arial, sans-serif;
}

.todo-container {
    max-width: 600px;
    margin: 0 auto;
    
}

.todo-container input[type="text"] {
    width: 80%;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}

.todo-container button {
    padding: 20px;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}

.todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}

.todo-item input[type="checkbox"] {
    margin-right: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}
